@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: var(--md-on-surface);
  background-color: var(--md-surface);
  color-scheme: light dark;

  scrollbar-width: thin;
  scrollbar-color: var(--md-primary) var(--md-surface);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --md-blur: blur(8px);
}

::selection {
  color: var(--md-on-surface);
  background-color: var(--md-surface-variant);
}

a {
  color: var(--md-primary);
  text-decoration: none;

  &:hover {
    filter: brightness(1.2);
  }
}
